---
import Layout from "../layouts/Layout.astro";
import CardPage from "../components/CardPage.astro";
---

<Layout title="Saturday">
  <main>
    <CardPage
      emojis="🥳"
      title="SATURDAY"
      todos={["TOCARSE LOS *******"]}
      places={["Toda la casa"]}
    />
  </main>
</Layout>
