---
import Layout from "../layouts/Layout.astro";
import CardPage from "../components/CardPage.astro";
---

<Layout title="Wednesday">
  <main>
    <CardPage
      emojis="ðŸ§½ðŸ½ï¸"
      title="WEDNESDAY"
      todos={["Barrer", "Fregar muebles", "Fregar suelo"]}
      places={["Cocina"]}
    />
  </main>
</Layout>
