---
import "../styles/global.css";
---

<footer>
    <p>
        © 2022 El aburrimiento
    </p>
</footer>
<style>
    footer {
        width:100%;
        text-align: center;
        --tw-text-opacity: 1;
        color: rgb(71 85 105 / var(--tw-text-opacity))
    }
</style>
